/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {font-family: 'Poppins', sans-serif;} */

/* Header */

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* position: relative; */
    position: fixed;
    background-color: #e5b0ce;
    padding: 12px 20px;
    z-index: 1;
}

.logo img {
    width: 60px;
    border-radius: 50px;
}

.menu {display: flex;}

.menu li {padding-left: 30px;}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: .15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}


.menu li a:hover {
    width: 120%;
    border-radius: 10px;
    background-color: #fff; /*Cambiar*/
    color: #e5b0ce;
    transform: translateY(-2px);            
}



/* .menu li a:hover:after {width: 100%;} */

.open-menu, .close-menu {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100vh; /*alto*/
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #e5b0ce;
        transition: all 0.2 ease-in-out;

    }

    .menu li {margin-top: 40px;}

    .menu li a {padding: 10px;}

    .open-menu, .close-menu {display: block;}

    #check:checked ~ .menu {right: 0;}
}

/* ------------------------------------------------------ */
/* Segments */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}


.segments {
    width: 100%;
    height: auto; /*1600px*/ /*800px*/
    background-position: center;
    -webkit-background-size: cover;
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-size: cover;
    background-attachment: fixed;
}

.segment-0 {
    background-image: url(https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1570&q=80);
    height: 1600px;
}

.segment-1 {
    /* background-image: url(https://images.unsplash.com/photo-1544816135-b44f18b3c5d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80); */
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
}

.segment-2 {
    background-image: url(https://images.unsplash.com/photo-1588075438444-11018654f08d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    height: 2000px;
}



.segment-3 {background-image: url(img/patron.jpg);}

/* segment-1 */
.information {
    /* border: 1px solid black; */
    max-width: 830px;
    width: 90%;
    height: 500px;
    margin: 10% 2%;
    padding: 1em;
}

.information-content {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 
    display: inline-flex;
}

.information h2 {
    align-self: stretch; 
    text-align: center; 
    color: #1E1E1E; 
    font-size: 40px; 
    /* font-size: 2em;  */
    font-family: Inter; 
    font-weight: bold; 
    word-wrap: break-word;
}

.information .line-title {
    align-self: stretch; 
    height: 0px; 
    border: 2.50px #E5B0CE solid;
}

/* .information h2 {
    font-size: 2em;
    text-align: center;
} */

.information p {
    margin-top: 3em;
    letter-spacing: 2px;
    text-align: center;
}

.slider {
    /* border: 1px solid black; */
    max-width: 350px;
    width: 100%;
    height: 490px;
    overflow: hidden;
    margin-left: 8%;
    padding: 10px;
    margin-top: 13%;
    
}

.slider ul {
    display: flex;
    padding: 0;
    width: 220%;
    animation: scroll 20s infinite ease-in; /*step-start linear*/
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider > ul > li img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 50px;
}

@keyframes scroll {
    
    0%  {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -110%;}
    45% {margin-left: -110%;}

}



/*cuando la pag se achica */

@media(max-width: 700px){
    .segment-1 {
        flex-wrap: wrap;
        height: 1600px;
    }
    
    .information {height: 720px;}

    .segment-2{height: 4790px;}

    .slider {margin-top: 16%;}
}

@media(max-width: 800px){
    .segment-1 {
        height: 1280px;
        flex-wrap: wrap;
    }
    
}

@media(max-width: 345px){   
    .segment-1 {height: 1700px;}
}





/* segment-2 / CARDS */

.segment-2 h2 {
    margin: 5%;
    text-align: center;
    font-size: 60px; /*modificar*/
    color: #252525; /* modificar */
    -webkit-text-decoration: underline #e5b0ce;
    text-decoration: underline #e5b0ce; /**/
}

.container2{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card{
    width: 299px; /*299px*/
    height: 440px; /*410px*/
    margin: 20px;
    margin-top: 2%;
    border-radius: 8px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);

}
.card img{
   width: 100%;
   height: 40px;
    height: auto;
    
}
.img{
    width: 100%;
    height: block;
    /*height: auto;*/
    
}
.card .contenido{
    padding: 10px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;

}
.card .contenido h3{
    font-weight: 800;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display:inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #e5b0ce;
    border: 1px solid #e5b0ce;
    border-radius: 4px;
    transition: all 400ms ease;
    
}
.card .contenido a:hover{
    background: #e5b0ce;
    color:#fff

}

@media screen and (max-width: 311px){
   
    .segment-1 {height: 1600px;}
    .card .contenido p {font-size: 14px;}
    
}

@media(max-width: 290px){
    
    .card .contenido p {font-size: 12px;}
    
}

/* ------------------------------------------------------ */
/* segment-3 / Formulario */

.form {
    background-color: #fff;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 2em;
    width: 90%;
    max-width: 500px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

@media (max-width: 700px) {
    .form {
        margin-bottom: 11em;
    }
}

.form-title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form-container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-group {
    position: relative;
    --color: #5757577e;
}

.form-input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form-input:not(:placeholder-shown) {
    color: #4d4646;
}

.form-input:focus + .form-label, 
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #cc44ff;
}

.form-label {
    color: #252525;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-submit {
    background: #cc44ff;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: 0.8em 0;
    border: none;
    border-radius: .5em;
    transition: all .3s ease 0s;
    cursor: pointer;
}

.form-submit:hover {
    background: #a536cd;
    transform: translateY(-7px);
}

.form-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cc44ff;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
    transform: scale(1);
}
/* ------------------------------------------------------ */
/* wtsp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}

